{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat|Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="header">
            <img src="https://www.pycon.co/static/images/pony-right.svg">
            <img src="https://www.pycon.co/static/images/DG.svg" width="300">
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>