body {
    font-family: 'Quicksand', monospace;
}
.post-box {
    height: 175px;
    display: flex;
    flex-direction: row;
    margin: 30px;
    box-shadow: 2px 5px 6px #888888;
}

.post-info {
    padding: 20px;
    background-image: url("https://www.pycon.co/static/images/resume_speaker.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    width: 35%;
}
.post-info__title {
    font-weight: 700;
    color: white;
}
.post-text {
    width: 65%;
    padding: 20px;
}

.header {
    height: 400px;
    background-image: url("https://www.pycon.co/static/images/intro-pycon19.png");
    padding-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 9px 80px #888888;
}

.header-title {
    color: white;
    font-size: 30px;
    border-bottom: 1px solid white;
}

.header-subtitle {
    color: white;
}
.main-title {
    font-size: 30px;
    letter-spacing: 8.5px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 30px 0 50px 0;
    color: #777777;
}